---
title: Home
---

<pre>
  <code class="javascript">
    var MilanoJS = {
      what: 'Javascript user group',
      where: 'Milano - Italia',
      status: 'in progress...'
    }
  </code>
</pre>
<div>
  <h3>intro</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis consequuntur deleniti, expedita hic ipsam iusto neque nostrum, officia perspiciatis quia reprehenderit voluptates. Corporis laborum odio placeat quod. Nesciunt, ut.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque illum impedit in ipsum nam nostrum provident quaerat, repellendus reprehenderit tenetur? Beatae consectetur cumque eum harum impedit maiores nulla odio perferendis.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque illum impedit in ipsum nam nostrum provident quaerat, repellendus reprehenderit tenetur? Beatae consectetur cumque eum harum impedit maiores nulla odio perferendis.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque illum impedit in ipsum nam nostrum provident quaerat, repellendus reprehenderit tenetur? Beatae consectetur cumque eum harum impedit maiores nulla odio perferendis.</p>
  <h3>scopi del gruppo</h3>
  <ul>
    <li>uno</li>
    <li>due</li>
    <li>tre</li>
  </ul>
  <h3>come contribuire</h3>
  <ul>
    <li>uno</li>
    <li>due</li>
    <li>tre</li>
  </ul>
</div>

