---
title: Milano JS
lead: Welcome to Milano JS
---

<p class="lead"> {{{ lead }}} </p>
<pre>
  <code class="javascript">
    var MilanoJS = {
      what: 'Javascript user group',
      where: 'Milano - Italia',
      status: 'in progress...'
    }
  </code>
</pre>
