    <h2 class="main">Milano JS @ <a href="http://milan.codemotionworld.com/">Codemotion</a></h2>

    <div class="meetup-box codemotion-box col-1-2">
      <h3>Web - Serverside ore 17:20-18:00</h3>
      <div class="calendar">
        <span class="binds"></span>
        <span class="month">Novembre</span>
        <div class="day">28</div>
      </div>
      <h4>Polymer - Lego for the web<br><span class="host">(Maurizio Mangione)<span></h4>
      <a class="eventbrite" href="https://www.eventbrite.it/e/biglietti-codemotion-milan-2014-conference-28th29th-november-2014-11868229193?ref=ebtn" target="_blank"><img src="https://www.eventbrite.it/custombutton?eid=11868229193" alt="Eventbrite - Codemotion Milan 2014 - Conference (28th/29th November 2014)" /></a>
    </div>

    <div class="meetup-box codemotion-box col-1-2">
      <h3>Lab Handson ore 11:40-12:20</h3>
      <div class="calendar">
        <span class="binds"></span>
        <span class="month">Novembre</span>
        <div class="day">29</div>
      </div>
      <h4>Polymer, your first app<br><span class="host">(Maurizio Mangione – Alberto Congiu)</span></h4>
      <a class="eventbrite" href="https://www.eventbrite.it/e/biglietti-codemotion-milan-2014-conference-28th29th-november-2014-11868229193?ref=ebtn" target="_blank"><img src="https://www.eventbrite.it/custombutton?eid=11868229193" alt="Eventbrite - Codemotion Milan 2014 - Conference (28th/29th November 2014)" /></a>
    </div>
