---
component: navbar
---

<div class="col-2-12">
  <a class="logo" href="/index.html">
    <img src="/assets/img/milanojs-logo.jpg" height="110" width="110" alt="Milano JS">
  </a>
  <h1>Milano JS <span>il DOM di Milan!</span></h1>
</div>
<div class="col-10-12">
  <ul class="main-nav">
    <li{{#is title "Home"}} class="menu-selected"{{/is}} id="home-link">
      <a href="/index.html">Home</a>
    </li>
    <li{{#is title "Meetups"}} class="menu-selected"{{/is}}>
      <a href="/meetups.html">Meetups</a>
    </li>
    <li{{#is title "Live"}} class="menu-selected"{{/is}}>
      <a href="/live.html">Live</a>
    </li>
    <li{{#is title "Community"}} class="menu-selected"{{/is}}>
      <a href="/community.html">Community</a>
    </li>
    <!-- li{{#is title "Learn"}} class="menu-selected"{{/is}}>
      <a href="/learn.html">Learn JS</a>
    </li -->
  </ul>
</div>
