---
component: navbar
---
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <img id="logo" src="/assets/img/mijs.png" alt="Milano JS">
      <a class="navbar-brand" href="index.html">MilanoJS</a>
      <div class="nav-collapse collapse bs-navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li{{#is title "Home"}} class="hide"{{/is}}>
            <a href="{{relative page.dest "/index.html"}}">Home</a>
          </li>
          <li{{#is title "About"}} class="active"{{/is}}>
            <a href="{{relative page.dest "/about.html"}}">About</a>
          </li>
          <li{{#is title "Meetups"}} class="active"{{/is}}>
            <a href="{{relative page.dest "/meetups.html"}}">Meetups</a>
          </li>
          <li{{#is title "Learn"}} class="active"{{/is}}>
            <a href="{{relative page.dest "/learn.html"}}">Learn JS</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
