---
component: navbar
---

<div class="bday">
  <a class="logo" href="/index.html">
    <img src="/assets/img/milanojs-logo.jpg" width="120" alt="Milano JS">
  </a>
  <h2>Milano JS #13 <span>Martedì 9 Giugno ore 19:00 - C/O StartMiUp - Copernico<br>Transducers FTW! - Massimiliano Mantione</span></h2>
</div>
