---
component: navbar
---

<div class="bday">
  <a class="logo" href="/index.html">
    <img src="/assets/img/bday/mijs-bday.png" width="150" alt="Milano JS">
  </a>
  <h2>Milano JS - The good party <span>5 Maggio ore 19:00 - C/O Google Italia</span></h2>
</div>
