---
component: social
---
<div class="social pad  pure-hidden-phone">
  <div class="sbtn facebook">
    <iframe src="//www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fmilanojavascript&amp;width&amp;height=80&amp;
              colorscheme=dark&amp;layout=button&amp;show_faces=true&amp;appId=335602729914072" scrolling="no" frameborder="0" style="border:none;
              overflow:hidden; height:20px; width: 62px;" allowTransparency="true"></iframe>
  </div>
  <div class="sbtn github">
    <iframe src="http://ghbtns.com/github-btn.html?user=milano-js&type=follow&count=false" allowtransparency="true" frameborder="0" scrolling="0"
            width="128" height="20"></iframe>
  </div>
  <div class="sbtn twitter">
    <a href="https://twitter.com/Milano_JS" class="twitter-follow-button" data-show-count="false">Follow @Milano_JS</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
</div>
