body {
  overflow-y: scroll;
  color: #333333;
  background-color: #f4f4f4;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

pre {
  margin: 0;
  padding: 0 15px !important;
  border: 1px solid #dbdbdb;
  background-color: white; }
  pre code {
    padding: 0; }

a {
  text-decoration: none;
  color: #0084b4; }

img {
  max-width: 100%; }

h1 {
  position: absolute;
  left: 180px;
  top: 10px;
  margin: 0 !important;
  color: #111111;
  text-align: center; }
  h1 span {
    display: block;
    font-size: 0.5em;
    color: #919191; }
  @media handheld, only screen and (max-width: 767px) {
    h1 {
      display: none; } }

h2 {
  font-size: 2em; }
  h2.main {
    margin: 0 0 30px 0;
    color: #aaaaaa; }
    @media handheld, only screen and (max-width: 767px) {
      h2.main {
        margin-left: 20px; } }

h3 {
  color: #cccccc;
  font-size: 1.5em; }
  h3 span {
    color: white; }
  .grid h3 {
    margin: 0; }

h4 {
  font-size: 1.2em; }

h2, h3, h4, h5 {
  font-family: "Bree Serif", serif;
  font-weight: normal; }

p, li {
  line-height: 28px; }

header.grid {
  position: relative; }

.sold-out {
  clear: both;
  padding: 10px;
  color: white;
  background-color: #df7514; }

.hide {
  display: none !important; }

.intro {
  margin: 0 0 20px 0; }

.live {
  padding: 0 4px;
  color: #f4f4f4;
  background-color: #f0db4f; }
  .live a {
    text-decoration: none;
    color: #111111; }

.main-nav {
  position: absolute;
  right: 20px;
  top: 20px;
  margin: 0;
  list-style: none; }
  .main-nav li {
    display: inline-block;
    padding: 4px 10px; }
    .main-nav li.menu-selected {
      border-bottom: 3px solid #999999; }
    .main-nav li a {
      display: inline-block; }

@media handheld, only screen and (max-width: 767px) {
  #home-link {
    display: none; } }

.logo {
  display: inline-block;
  z-index: 10;
  margin-bottom: 20px; }
  @media handheld, only screen and (max-width: 767px) {
    .logo {
      margin-bottom: 0; }
      .logo img {
        width: 50px;
        height: 50px; } }

.sponsor {
  text-align: center;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
  padding-bottom: 10px; }
  .sponsor img {
    margin: 0 auto;
    display: block; }

.social {
  height: 20px;
  text-align: right; }

.follow {
  position: relative;
  top: -4px;
  display: inline-block;
  margin: 0;
  line-height: 24px;
  color: #aaaaaa; }

.sbtn {
  display: inline-block;
  margin-left: 10px; }

.map iframe {
  margin-bottom: -5px; }

.meetup-box {
  margin-top: -20px;
  padding: 10px 20px;
  background-color: #666666;
  text-align: center;
  color: white; }
  .meetup-box ol, .meetup-box ul {
    float: left;
    padding: 0; }
    .meetup-box ol li, .meetup-box ul li {
      margin-left: 20px;
      padding-bottom: 10px; }
  .meetup-box .host {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-size: 1.1rem; }

.full-light {
  background-color: white; }

.full-dark {
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  background-color: #dddddd; }

footer {
  margin-top: 40px;
  padding: 2em;
  text-align: center;
  color: #aaaaaa;
  font-size: 12px; }
  footer .grid {
    border-top: 1px solid #d8d8d8; }

.calendar {
  position: relative;
  display: block;
  float: left;
  width: 100px;
  margin: 10px 20px 10px 0;
  background: white;
  text-align: center;
  font-family: 'Helvetica', sans-serif; }
  .calendar .binds {
    position: absolute;
    height: 15px;
    width: 60px;
    background: transparent;
    border: 2px solid #999999;
    border-width: 0 5px;
    top: -6px;
    left: 0;
    right: 0;
    margin: auto; }
  .calendar .month {
    background: #d30404;
    display: block;
    padding: 8px 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid #a10303;
    box-shadow: inset 0 -1px 0 0 #ba0404; }
  .calendar .day {
    position: relative;
    display: block;
    margin: 0;
    padding: 10px 0;
    font-size: 48px;
    box-shadow: 0 0 3px #cccccc; }
    .calendar .day:after {
      content: '';
      display: block;
      height: 100%;
      width: 96%;
      position: absolute;
      top: 3px;
      left: 2%;
      z-index: -1;
      box-shadow: 0 0 3px #cccccc; }
    .calendar .day:before {
      content: '';
      display: block;
      height: 100%;
      width: 90%;
      position: absolute;
      top: 6px;
      left: 5%;
      z-index: -1;
      box-shadow: 0 0 3px #cccccc; }

.codemotion-box h4 {
  margin-bottom: 74px; }

.eventbrite {
  display: block; }
  .eventbrite img {
    display: block; }

#mc_embed_signup {
  background: transparent none;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif; }
