//variables
$mainBg: #f4f4f4;
$darkBg: #dddddd;
$darkest: #111;
$mainTxt: #333;
$lightTxt: #cfcfcf;
$blueTxt: #0084b4;
$calBg: #D30404;
$yellowJS: #F0DB4F;

body {
  overflow-y: scroll;
  color: $mainTxt;
  background-color: $mainBg;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
pre {
  margin: 0;
  padding: 0 15px !important;
  border: 1px solid darken($mainBg, 10);
  background-color: white;
  code {
    padding: 0;
  }
}
a {
  text-decoration: none;
  color: $blueTxt;
}
img {
  max-width: 100%;
}
h1 {
  position: absolute;
  left: 180px;
  top: 10px;
  margin: 0 !important;
  color: $darkest;
  text-align: center;
  span {
    display: block;
    font-size: .5em;
    color: lighten($darkest, 50);
  }
  @media handheld, only screen and (max-width: 767px) {
    display: none;
  }
}
h2 {
  font-size: 2em;
  &.main {
    margin: 0 0 30px 0;
    color: darken($darkBg, 20);
    @media handheld, only screen and (max-width: 767px) {
      margin-left: 20px;
    }
  }
}
h3 {
  color: #ccc;
  font-size: 1.5em;
  span {
    color: #fff;
  }
  .grid & {
    margin: 0;
  }
}
h4 {
  font-size: 1.2em;
}
h2, h3, h4, h5 {
  font-family: "Bree Serif", serif;
  font-weight: normal;
}
p, li {
  line-height: 28px;
}
header {
  &.grid {
    position: relative;
  }
}
.sold-out {
  clear: both;
  padding: 10px;
  color: #fff;
  background-color: rgb(223, 117, 20);
}
.hide {
  display: none !important;
}
.intro {
  margin: 0 0 20px 0;
}
.live {
  padding: 0 4px;
  color: $mainBg;
  background-color: $yellowJS;
  a {
    text-decoration: none;
    color: $darkest;
  }
}
.main-nav {
  position: absolute;
  right: 20px;
  top: 20px;
  margin: 0;
  list-style: none;
  li {
    display: inline-block;
    padding: 4px 10px;
    &.menu-selected {
      border-bottom: 3px solid #999999;
    }
    a {
      display: inline-block;
    }
  }
}
#home-link {
  @media handheld, only screen and (max-width: 767px) {
    display: none;
  }
}
.logo {
  display: inline-block;
  z-index: 10;
  margin-bottom: 20px;
  @media handheld, only screen and (max-width: 767px) {
    margin-bottom: 0;
    img {
      width: 50px;
      height: 50px;
    }
  }
}

.sponsor {
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 10px;
  img {
    margin: 0 auto;
    display: block;
  }
}

.social {
  height: 20px;
  text-align: right;
}
.follow {
  position: relative;
  top: -4px;
  display: inline-block;
  margin: 0;
  line-height: 24px;
  color: darken($darkBg, 20);
}
.sbtn {
  display: inline-block;
  margin-left: 10px;
}
.map {
  iframe {
    margin-bottom: -5px;
  }
}
.meetup-box {
  margin-top: -20px;
  padding: 10px 20px;
  background-color: #666;
  text-align: center;
  color: #fff;
  ol, ul {
    float: left;
    padding: 0;
    li {
      margin-left: 20px;
      padding-bottom: 10px;
    }
  }
  .host {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-size: 1.1rem;
  }
}
.full-light {
  background-color: white;
}
.full-dark {
  border-top: 1px solid darken($darkBg, 15);
  border-bottom: 1px solid darken($darkBg, 15);
  background-color: $darkBg;
}
footer {
  margin-top: 40px;
  padding: 2em;
  text-align: center;
  color: lighten($darkest, 60);
  font-size: 12px;
  .grid {
    border-top: 1px solid darken($darkBg, 2);
  }
}

//calendar
.calendar {
  position: relative;
  display: block;
  float: left;
  width: 100px;
  margin: 10px 20px 10px 0;
  background: #fff;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  .binds {
    position: absolute;
    height: 15px;
    width: 60px;
    background: transparent;
    border: 2px solid #999;
    border-width: 0 5px;
    top: -6px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .month {
    background: $calBg;
    display: block;
    padding: 8px 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid darken($calBg, 10);
    box-shadow: inset 0 -1px 0 0 darken($calBg, 5);
  }
  .day {
    position: relative;
    display: block;
    margin: 0;
    padding: 10px 0;
    font-size: 48px;
    box-shadow: 0 0 3px #ccc;
    &:after {
      content: '';
      display: block;
      height: 100%;
      width: 96%;
      position: absolute;
      top: 3px;
      left: 2%;
      z-index: -1;
      box-shadow: 0 0 3px #ccc;
    }
    &:before {
      content: '';
      display: block;
      height: 100%;
      width: 90%;
      position: absolute;
      top: 6px;
      left: 5%;
      z-index: -1;
      box-shadow: 0 0 3px #ccc;
    }
  }
}

// codemotion talk and codelab
.codemotion-box {
  h4 {
    margin-bottom: 74px;
  }
}
.eventbrite {
  display: block;
  img {
    display: block;
  }
}

#mc_embed_signup{background: transparent none; clear:left; font:14px Helvetica,Arial,sans-serif; }
