$break-small: 376px;

*,
*:after,
*:before {
  box-sizing: border-box
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  font-family: "Open Sans", Arial, serif;
  font-size: 1.8em;
  background-color: #eaeaea;
}

h1 {
  margin-bottom: 10px;
  span {
    display: block;
    font-size: 18px;
    color: #dfdfdf;
  }
  @media screen and (max-width: $break-small) {
    display: none;
  }
}

h2 {
  .main-content & {
    color: #666;
  }
}

h3 {
  .main-content & {
    margin-bottom: 0;
  }
}

h4 {
  color: #666;
}

h5 {
  margin-bottom: 0;
}

h2, h3, h4, h5 {
  font-family: "Bree Serif", serif;
  font-weight: normal;
}

a {
  color: #21A5CE;
}

.hide {
  display: none;
}

img {
  max-width: 100%;
}

.changed {
  transition: background .5s;
  background-color: rgba(#FFE000, .5);
}

nav {
  margin-bottom: 10px;
  a {
    display: block;
    padding: 6px 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: background .5s;
    &:hover {
      color: #333;
      background-color: #dfdfdf;
    }
  }
}

.em {
  margin-bottom: 10px;
  font-size: 16px;
}

.cover {
  position: relative;
  min-height: 500px;
  text-align: center;
  background: transparent url(../img/cover.jpg) no-repeat center 0;
  @media screen and (max-width: $break-small) {
    height: 200px;
    min-height: 100px;
    background: #000 none;
  }

}

.cover-credits {
  position: absolute;
  right: 0;
  top: 10px;
  padding: 2px 5px;
  color: #fff;
  font-size: 12px;
  background-color: rgba(#000, .5);
  @media screen and (max-width: $break-small) {
    display: none;
  }
}

#logo-col {
  height: 100%;
  color: #fff;
  background-color: rgba(#000, .7);
  @media screen and (max-width: $break-small) {
    background: transparent none;
  }
}

.home {
  display: inline-block;
}

.logo {
  position: relative;
  width: 200px;
  max-width: 100%;
  margin-top: 20px;
  border: 2px solid #000;
  transition: all .5s;
  &:hover {
    border: 2px solid #fff;
  }
  @media screen and (max-width: $break-small) {
    width: 50px;
    margin-top: 10px;
  }
}

.newsletter {
  padding: 10px;
  text-align: center;
  border-bottom: 4px solid #333;
  color: #fff;
  background-color: rgba(#000, .7);
  form {
    margin: 0;
    input {
      display: inline-block;
      margin: 0 0 0 10px;
      &[type=email] {
        width: 50%;
      }
    }
    label {
      display: inline;
    }
  }
  @media screen and (max-width: $break-small) {
    margin: 0 -20px;
  }
}

.main-content {
  margin-top: 20px;
}

#eventi-passati {
  & ~ h4 {
    font-size: 2.4rem;
  }
  & ~ p {
    margin-bottom: 0;
  }
}

.frame {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  &.about {
    img {
      max-width: 100%;
    }
  }
  iframe {
    max-width: 100%;
  }
}

.fb-page {
  width: 100%;
  margin-bottom: 20px;
  background-color: #dfdfdf;
}

.sponsor {
  margin-top: 10px;
  text-align: center;
  h4 {
    margin-bottom: 30px;
  }
  a {
    margin-bottom: 20px;
    display: inline-block;
  }
}

[class^="icon"] {
  color: #333;
  text-decoration: none;
  font-size: 1em;
  .main-content & {
    position: relative;
    bottom: -4px;
  }
}

.social-icons {
  @media screen and (min-width: $break-small) {
    float: right;
  }
  font-size: 1.3em;
}

.bday-sponsor {
  display: flex;
  align-items: center;
  a {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

footer {
  margin: 20px 0;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

@charset "UTF-8";

/* milanojs */
@font-face {
  font-family: "milanojs";
  src:url("https://file.myfontastic.com/wGnJBWKW4aZ3kuaEFae5wn/fonts/1447149721.eot");
  src:url("https://file.myfontastic.com/wGnJBWKW4aZ3kuaEFae5wn/fonts/1447149721.eot?#iefix") format("embedded-opentype"),
  url("https://file.myfontastic.com/wGnJBWKW4aZ3kuaEFae5wn/fonts/1447149721.woff") format("woff"),
  url("https://file.myfontastic.com/wGnJBWKW4aZ3kuaEFae5wn/fonts/1447149721.ttf") format("truetype"),
  url("https://file.myfontastic.com/wGnJBWKW4aZ3kuaEFae5wn/fonts/1447149721.svg#1447149721") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "milanojs" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "milanojs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "b";
}
.icon-facebook:before {
  content: "c";
}
.icon-twitter:before {
  content: "a";
}
